.App {
  width: 30vw;
  height:70vh;
  background-color: hsl(213, 19%, 18%);
  border-radius: 10%;
 padding:40px;
}
.but{
  height:50px;
  width:50px;
  border-radius: 50px;
  color:gray;
  background-color:hsl(213, 15%, 25%);
  border:0;
  font-size: 20px;
}
.need:hover{
  background-color:hsl(217, 12%, 63%);
}


